// h1 styling

$h1-font-size:6rem;
$h1-font-family:Raleway;

// h2 styling

$h2-font-size:3rem;
$h2-font-family:Raleway;

// h3 styling

$h3-font-size:2.5rem;
$h3-font-family:Raleway;

// h4 styling

$h4-font-size:1.5rem;
$h4-font-family:Lora;

// p styling

$p-font-size:1.5rem;
$p-font-family:Lora;


// general styling

$dark-color:rgb(42,42,42);
$orange-color:rgb(229,191,75);
$red-button:rgb(218,51,29);